<style>
#future-steps {
  color: red;
}

.emphasized {
  font-size: 1.2em;
}

.final{
  font-size: 3em;
  font-family: Trebuchet MS;
  text-align: center;
}
#final_box{
  background-color: ;
}

.midcenter {
    position: fixed;
    top: 50%;
    left: 50%;
}

#image{
  width: 60%;
  height: auto;
}

slides > slide {
  background: linear-gradient(#ffffff, #ffffff 85%, #ffffff);
  background-color: white;
  }

</style>